body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #007B1B;
  font-family: "Times New Roman", sans-serif;
}

h1 {
  color: #e92bd8;
  font-size: 3rem;
  transition: transform 0.3s, color 0.3s;
}

h1:hover {
  color: #ff6347;
  transform: scale(1.2);
}
